.add-food {
  display: flex;
  flex-wrap: wrap;
  height: 832px;
  align-items: center;
  justify-content: center;
  gap: 67px 774px;
  padding: 17px 20px;
  position: relative;
  background-color: #f6bb73;
}

.add-food .text-wrapper-11 {
  position: relative;
  width: fit-content;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.add-food .frame-6 {
  justify-content: center;
  gap: 70px;
  flex: 0 0 auto;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.add-food .text-wrapper-12 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.add-food .frame-7 {
  gap: 25px;
  flex: 0 0 auto;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.add-food .rectangle-4 {
  position: relative;
  width: 100px;
  height: 109px;
}

.add-food .p {
  position: relative;
  width: fit-content;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.add-food .search-bar {
  position: relative;
  width: 958px;
  height: 134px;
  background-color: #fff1e0;
  border-radius: 50px;
}

.add-food .iconamoon-enter-bold {
  position: absolute;
  width: 5.22%;
  top: 42px;
  left: 90.92%;
  height: 50px;
}

.add-food .frame-wrapper {
  position: relative;
  width: 815px;
  height: 279px;
  background-color: #f38500;
  border-radius: 50px;
  box-shadow: 0px 4px 4px #00000040;
}

.add-food .frame-8 {
  gap: 10px;
  top: calc(50.00% - 108px);
  left: calc(50.00% - 372px);
  display: inline-flex;
  align-items: center;
  position: relative;
}

.add-food .si-warning-fill {
  position: relative;
  width: 60px;
  height: 60px;
}
