.food {
  display: flex;
  flex-wrap: wrap;
  height: 832px;
  align-items: center;
  justify-content: center;
  gap: 48px 771px;
  padding: 14px 23px;
  position: relative;
  background-color: #f6bb73;
}

.food .text-wrapper-8 {
  position: relative;
  width: fit-content;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.food .frame-4 {
  display: inline-flex;
  justify-content: center;
  gap: 70px;
  flex: 0 0 auto;
  align-items: center;
  position: relative;
}

.food .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.food .frame-5 {
  display: inline-flex;
  gap: 37px;
  flex: 0 0 auto;
  align-items: center;
  position: relative;
}

.food .rectangle-3 {
  position: relative;
  width: 350px;
  height: 200px;
  background-color: #fff1e0;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
}

.food .div-wrapper {
  display: flex;
  width: 503px;
  height: 107px;
  justify-content: center;
  gap: 10px;
  padding: 16px 161px;
  background-color: #f38500;
  border-radius: 35px;
  border: 1px solid;
  border-color: #000000;
  align-items: center;
  position: relative;
}

.food .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-weight: 700;
  color: #1e1e1e;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
}

.food .ri-arrow-go-back {
  position: relative;
  width: 50px;
  height: 50px;
}
