.recepie {
  display: flex;
  flex-wrap: wrap;
  height: 852px;
  align-items: center;
  justify-content: center;
  gap: 0px 260px;
  padding: 19px 29px;
  position: relative;
  background-color: #f6bb73;
}

.recepie .select-wrapper {
  display: flex;
  width: 503px;
  height: 107px;
  gap: 10px;
  padding: 16px 161px;
  background-color: #f38500;
  border-radius: 35px;
  border: 1px solid;
  border-color: #000000;
  align-items: center;
  justify-content: center;
  position: relative;
}

.recepie .select {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-weight: 700;
  color: #1e1e1e;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
}

.recepie .frame-3 {
  display: inline-flex;
  gap: 70px;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  position: relative;
}

.recepie .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.recepie .rectangle-2 {
  position: relative;
  width: 1167px;
  height: 639px;
  background-color: #fff1e0;
  border-radius: 30px;
  box-shadow: 0px 4px 4px #00000040;
}
