<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="add-food.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="add-food">
      <div class="text-wrapper-11">PantryChef</div>
      <div class="frame-6">
        <a href="QNA.html"><div class="text-wrapper-12">FAQ</div></a>
        <a href="index.html"><div class="text-wrapper-12">Log out</div></a>
      </div>
      <div class="frame-7">
        <img class="rectangle-4" src="https://c.animaapp.com/mi1yoapbvFsmXd/img/rectangle.png" />
        <p class="p">Hi! What do you want to put into fridge?</p>
      </div>
      <div class="search-bar">
        <a href="food.html"
          ><img class="iconamoon-enter-bold" src="https://c.animaapp.com/mi1yoapbvFsmXd/img/iconamoon-enter-bold.svg"
        /></a>
      </div>
      <div class="frame-wrapper">
        <div class="frame-8">
          <img class="si-warning-fill" src="https://c.animaapp.com/mi1yoapbvFsmXd/img/si-warning-fill.svg" />
          <div class="text-wrapper-11">Warning</div>
        </div>
      </div>
    </div>
  </body>
</html>
