<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="food.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="food">
      <div class="text-wrapper-8">PantryChef</div>
      <div class="frame-4">
        <a href="QNA.html"><div class="text-wrapper-9">FAQ</div></a>
        <a href="index.html"><div class="text-wrapper-9">Log out</div></a>
      </div>
      <div class="frame-5">
        <div class="rectangle-3"></div>
        <div class="rectangle-3"></div>
        <div class="rectangle-3"></div>
      </div>
      <div class="frame-5">
        <div class="rectangle-3"></div>
        <div class="rectangle-3"></div>
        <div class="rectangle-3"></div>
      </div>
      <a href="recepie.html"
        ><div class="div-wrapper"><div class="text-wrapper-10">Select</div></div></a
      >
      <a href="add-food.html"
        ><img class="ri-arrow-go-back" src="https://c.animaapp.com/mi1yoapbvFsmXd/img/ri-arrow-go-back-fill.svg"
      /></a>
    </div>
  </body>
</html>
