<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="recepie.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="recepie">
      <a href="recepie.html"
        ><div class="select-wrapper"><div class="select">name</div></div></a
      >
      <div class="frame-3">
        <a href="food.html"><div class="text-wrapper-7">Home</div></a>
        <a href="QNA.html"><div class="text-wrapper-7">FAQ</div></a>
        <a href="index.html"><div class="text-wrapper-7">Log out</div></a>
      </div>
      <div class="rectangle-2"></div>
    </div>
  </body>
</html>
